body {
    font-size: 100%;
    margin: 0;
}

h1 {
    font-size: 2.25em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3125em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

.header {
  padding: 10px 16px;
  background: white;
  border-bottom: solid black 1px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.right-panel {
    position: absolute;
    right: 10px;
    border: solid black 1px;
}

.sticky + #content {
    padding-top: 120px;
}

#canvas {
    text-align: center;
}

#expressionTree {
    text-align: center;
    background-color: lightgrey;
}

#suggestions {
    margin: 0 auto;
    width: max-content;
    display: block;
    border: solid gray 2px;
    background-color: ivory;
    padding: 1ex;
    /*font-size: 70%;*/
    max-height: 100vh;
    height: 50vh !important;
    
}

#transformSuggestions h2 {
    font-size: 1em;
    text-align: center;
}
#transformSuggestions > .block {
    margin: 0.5em auto;
    width: max-content;
    display: block;
}


.inputnum, #kokooperaatio {
    width: 4em;
}

math {
    font-size: 200%;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }


.dialog {
    display: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}


.ui-dialog {
    max-height: 50vh;
}

#content {
    padding-bottom: 50vh;
}


#status-display {
    display: none;
}
